.login-container {
  background-color: #f7f7f7;
  max-width: 1100px;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-radius: 12px;
}

.left-container {
  padding: 4rem 8rem;
  text-align: center;
}

.left-container h2 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 8px;
}

.left-container p {
  margin-bottom: 8px;
  font-weight: bold;
}

.login-container img {
  max-width: 450px;
}

.form-container {
  background-color: #343a46;
  width: 100%;
  padding: 4rem 2rem;
  border-radius: 8px;
}
.form-container h2 {
  text-align: center;
  color: #eee;
}

.form-input label {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.form-input label span {
  color: #eee;
  margin-bottom: 6px;
}

.form-input label input {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  outline: none;
}

.form-input label input::placeholder {
  color: #a4a7b4;
}

.form-container p,
.form-container a {
  font-size: 12px;
  margin: -6px 0 0 4px;
  color: #a4a7b4;
}

.form-container .btn {
  background-color: #eee;
  width: 100%;
  margin-top: 1.8rem;
  font-weight: bold;
  color: #343a46;
  opacity: 0.8;
  transition: 0.4s;
}

.form-container .btn:hover {
  opacity: 1;
}

.form-container #create-acc,
.form-container #create-acc a {
  margin-top: 1rem;
  font-size: 14px;
  color: #eee;
  text-align: end;
}

/* Mobile */
@media (max-width: 450px) {
  .login-container {
    max-width: 350px;
    margin: 3rem auto;
  }

  .left-container {
    display: none;
  }

  .form-container {
    padding: 3rem 2.5rem;
  }

  .form-input label span {
    font-size: 0.9rem;
    color: #eee;
    margin-bottom: 6px;
  }

  .form-input label input {
    padding: 0.5rem 1rem;
  }

  .form-input label input::placeholder {
    font-size: 0.7rem;
  }

  .form-container p,
  .form-container a {
    font-size: 11px;
  }

  .form-container #create-acc,
  .form-container #create-acc a {
    font-size: 13px;
  }
}
