.party h1,
.party h3,
.party p {
  text-align: center;
  margin-bottom: 1rem;
  color: #eee;
}

.actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.service-party {
  display: flex;
  justify-content: center;
}

.service-party .service img {
  width: 300px;
}

/* Mobile */
@media (max-width: 450px) {
  .party h1 {
    margin-top: 1.5rem;
    font-size: 1.6rem;
  }

  .party p {
    font-size: 14px;
  }

  .service-party {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .service-party .service {
    width: 40%;
  }

  .service-party .service img {
    width: 100%;
    object-fit: cover;
  }
}
