#navbar {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 3rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #e4e4e4;
}

#navbar h2 {
  color: #7703fc;
  font-weight: 900;
}

#navbar ul {
  display: flex;
  align-items: center;
}
