#navbar {
  background-color: #2d3136;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 3rem;
  margin-bottom: 1rem;
}

#navbar h2 {
  color: #eee;
  font-weight: 900;
}

#navbar ul {
  display: flex;
  align-items: center;
}

.welcome-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

#navbar p {
  font-size: 15px;
  margin-top: 2px;
  color: #eee;
  font-weight: bold;
}

/* Mobile */
@media (max-width: 450px) {
  #navbar {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1.6rem 1.2rem 0.8rem;
  }

  #navbar h2 {
    font-size: 2rem;
  }

  .welcome-container {
    gap: 1.4rem;
    font-size: 0.8rem;
  }

  #navbar p {
    margin-top: 1px;
    font-size: 0.9rem;
  }
}
