* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

body {
  background-color: #1b1e23;
}

ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

a {
  font-size: 1rem;
  color: #eee;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

h1,
h2,
h3 {
  font-family: "Roboto";
}

p {
  color: #283252;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btn,
.btn-secondary {
  background-color: #343a46;
  font-size: 1rem;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s;
  display: block;
}

.btn:hover {
  background-color: #eee;
  color: #343a46;
}

.btn-secondary {
  background-color: #343a46;
  color: #fff;
  border: 1px solid #cfcfcf;
  opacity: 0.8;
}

.btn-secondary:hover {
  opacity: 1;
}
